@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 100% 0%;

    --primary: 175 100% 33%;
    --primary-foreground: 175 100% 90%;

    --secondary: 15 87% 54%;
    --secondary-foreground: 15 87% 95%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 98%;

    --accent: 0 0% 95%;
    --accent-foreground: ;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {}
}

@layer base {
  * {
    @apply box-border border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}