@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 98%);
    --foreground: hsl(0, 100%, 0%);

    --primary: hsl(7, 89%, 52%);
    --primary-foreground: hsl(0, 0%, 98%);

    --secondary: hsl(9, 91%, 77%);
    --secondary-foreground: hsl(0, 0%, 2%);

    --destructive: hsl(22, 92%, 46%);
    --destructive-foreground: hsl(0, 0%, 98%);

    --border: hsl(240, 5.9%, 90%);
    --input: hsl(240, 5.9%, 90%);
    --ring: hsl(240, 5%, 64.9%);

    --radius: 0.5rem;
  }

  .dark {}
}

@layer base {
  * {
    @apply box-border border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}