@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(360, 100%, 100%);
    --foreground: hsl(0, 100%, 0%);

    --primary: hsl(7, 89%, 52%);
    --primary-foreground: hsl(7, 89%, 90%);

    --radius: 0.5rem;
  }

  .dark {}
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}